/* navbar */

body html {
overflow-x:hidden;
}

ul {
    text-align: center;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
        > a {
            font-family: "Poppins";
            font-size: 12px;
            transition: 0.2s;
        }
    }
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-fixed-top {
    background: rgba(38, 38, 38, 1);
    border-color: transparent;
}

/*Chatbubble*/

.bubble {
    top: 80px;
    left: 100px;
    position: absolute;
    width: 350px;
    height: 50px;
    padding: 0px;
    background: rgba(219, 213, 217, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent rgba(219, 213, 217, 1);
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
.line-1 {
    position: relative;
    top: 50%;
    width: 66em;
    margin: 0 auto;
    border-right: 2px solid rgba(257, 38, 38, 0);
    font-size: 80%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}


/*Animation delay second line*/

.anim-typewriter2 {
    animation: typewriter 4s steps(44) 1s 1 normal both;
    animation-delay: 3s;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

.img-rounded {
    left: 10px;
    top: 80px;
    position: relative;
    border-radius: 50%;
    border: white 4px solid;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 992px) {
    .bubble {
        visibility: hidden;
    }
    .bubble:after {
        visibility: hidden;
    }
    .line-1 {
        visibility: hidden;
    }
    /* Animation */
    .anim-typewriter {
        visibility: hidden;
    }
    .img-rounded {
        visibility: hidden;
    }

}


/*headline*/

h1 {
    margin-top: 8%;
    text-align: center;
}

section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
    margin-top: 5%;
}

.text {
    text-align: center;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.imgwrap {
    position: relative;
}

.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.6s;
    background-color: rgba(219, 213, 217, 0.8);
}

.imgwrap:hover .overlay {
    opacity: 2;
}

.imgtext {
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
